*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: #bdb0e8;
    display: flex;
    align-items: center;
    justify-content: center;
}

#left, #right{
    width: 700px;
    min-height: 700px;
    margin-left: 20px;
    margin-right: 20px;
    border: 2px dashed #db1f1f;
}

.enlarged {
    z-index: 1;
}

/*#question-container{
    background: #b1dbb7;
    color: red;
    padding-left: 30%;
    font-size: x-large;

} */

/* .list{
    background: #e91e63;
    height: 60px;
    margin: 60px;
    color: #fff;
    display: flex;
    align-items: center;
    cursor: grab;
} */

img {
    position: relative;
    width: 150px;
    margin-right: 10px;
    margin-left: 20px;
    z-index: 0;
}
