body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

#timeline-container, #timeline-container2 {
  position: relative;
  width: 500px; /* Adjust the width as needed */
  height: 30px;
  background-color: #eee;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}

#playhead, #playhead2 {
  position: absolute;
  width: 2px;
  height: 30px;
  background-color: #000000;
  /*border-radius: 50%;*/
  cursor: pointer;
}

#marker-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.marker {
  position: absolute;
  width: 2px; /* Adjust the width of the marker as needed */
  background-color: red; /* Adjust the color of the marker */
  height: 100%;
}

#colors {
  margin-top: 20px;
}